body
{
	margin: 0;
}

#icon-bar-horizontal .icon-horizontal
{
	float: left;
	display: inline;
}

#icon-bar-horizontal .icon-horizontal
{
	width: 20%;
	background: #90cf21;
	padding: 3rem 0;
	font-size: 2rem;
	color: white;
	text-align: center;
	transition: all 0.3s ease;
	text-decoration: none;
}

#icon-bar-horizontal .icon-horizontal:hover
{
	background: #000;
	transition: all 0.3s ease;
}
